/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

/* Colors */
$gray                       : #0a0a0a !default;
$dark-gray                  : mix(#000, $gray, 40%) !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$text-color                 : $dark-gray !default;
$primary-color              : $dark-gray !default;
$info-color                 : #070707 !default;

/* links */
$link-color                 : $info-color !default;
$link-color-hover           : mix(#000, $link-color, 25%) !default;
$link-color-visited         : mix(#fff, $link-color, 25%) !default;
$masthead-link-color        : $primary-color !default;
$masthead-link-color-hover  : mix(#000, $primary-color, 25%) !default;