/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

/* Colors */
$gray                       : #0a0a0a !default;
$dark-gray                  : mix(#000, $gray, 40%) !default;
$darker-gray                : mix(#000, $gray, 60%) !default;
$text-color                 : #3d3d3d !default;  // #060606
$primary-color              : $dark-gray !default;
$info-color                 : #070707 !default;
$background-color           : #ffffff !default;
$code-background-color      : mix(#000, $background-color, 15%) !default;

/* links */
$link-my-color              : mix(#0066ffbb, $gray, 60%) !default;